.productDisplayWrapper{
  display: flex;
  justify-content: center;
}

.productDisplayWrapper .container{
  display: flex;
  flex-direction: column;
}

.productDisplayWrapper .container h2{
   font-size: 19px;
   font-weight: 500;
   color: #2c3e50;
}

.productDisplayWrapper .container a{
  text-decoration: none;
}

.productDisplayWrapper .container .productCardWrapper{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  transition: all;
}

.productDisplayWrapper .container .productCardWrapper .productCard{
  display: flex;
  border: 2px solid #f2f3f4;
}

.productDisplayWrapper .productCardWrapper .imageBox{
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f4;
  padding: 8px;
}

.productDisplayWrapper .productCardWrapper .imageBox img{
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  transition: transform 0.3s ease;
  mix-blend-mode: multiply;
}


.productDisplayWrapper .productCardWrapper .imageBox .productImage:hover{
  transform: scale(1.1);
}

.productDisplayWrapper .productCardWrapper .productCard .aboutProduct{
  background: #fff;
  padding: 6px;
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.productDisplayWrapper .productCardWrapper .productCard .aboutProduct h2{
  font-size: 17px;
  font-weight: 600;
  color: #2c3e50;
  display: box;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;  
  max-height: 2.7em;  
}

.productDisplayWrapper .productCardWrapper .productCard .aboutProduct p{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.productCardWrapper .productCard .aboutProduct .productCategory{
  text-transform: capitalize;
}
.productCardWrapper .productCard .aboutProduct .priceBox{
  display: flex;
  gap: 12px;
}

.productCard .aboutProduct .priceBox .prevPrice{
  text-decoration: line-through;
  color: #505050 !important;
}

.productCard .aboutProduct .priceBox .sellingPrice{
  color: #229954 !important;
}

.productCard .aboutProduct .btnBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.productCard .aboutProduct .btnBox button{
  font-size: 14px;
  width: 126px;
  padding: 2px 8px;
  border-radius: 10px;
  color: #fff;
}

.productCard .aboutProduct .btnBox .basketBtn{
  background: #2c3e50;
}

.productCard .aboutProduct .btnBox .basketBtn:hover{
  background: #354b60;
}

.productCard .aboutProduct .btnBox .wishlistBtn{
  background: #f39c12;
}

.productCard .aboutProduct .btnBox .wishlistBtn:hover{
  background:  #e67e22;
}

.productCardWrapper .loadingCard{
  border: 1px solid #ededee;
  display: flex;
}

.productCardWrapper .loadingCard .loadingCardLeft{
  background: #ededee;
  width: 150px;
  height: 200px;
  animation: pulse 1.5s infinite;
}

.productCardWrapper .loadingCard .loadingCardRight{
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.loadingCard .loadingCardRight .titlesBox{
  width: 150px;
  height: 26px;
  background: #ededee;
  border-radius: 12px;
}

.loadingCard .loadingCardRight .priceBox, .btnBox {
  display: flex;
  align-items: center;
  gap: 9px;

}

.loadingCard .loadingCardRight .priceBox p{
  width: 70px;
  height: 24px;
  background: #ededee;
  border-radius: 12px;
  animation: pulse 1.5s infinite;
}

.loadingCard .loadingCardRight .btnBox .btn{
  width: 70px;
  height: 24px;
  background: #ededee;
  border-radius: 12px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
