.adminEditProductWrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: rgba(203, 228, 228, 0.3);
  z-index: 999;
}

.adminEditProductWrapper .uploadBox{
  height: 94%;
  width: 48%;
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.adminEditProductWrapper .uploadBox .uploadBoxHeader{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.adminEditProductWrapper .uploadBox .uploadBoxHeader h2{
 font-weight: 500;
 font-size: 19px;
 color: #27ae60;
}

.adminEditProductWrapper .uploadBox .uploadBoxHeader svg{
 font-size: 20px;
 color: #2c3e50;
 cursor: pointer;
}

.adminEditProductWrapper .uploadBox .uploadBoxHeader svg:hover{
 color: #27ae60;
}

.adminEditProductWrapper .uploadBox .formWrapper{
 overflow-y: auto;
 padding-top: 24px;
}

.adminEditProductWrapper .uploadBox .formWrapper form{
 display: flex;
 flex-direction: column;
 gap: 18px;
}

.adminEditProductWrapper .uploadBox .formWrapper form .row{
 display: flex;
 flex-direction: column;
 gap: 10px;
 position: relative;
}

.adminEditProductWrapper .uploadBox .formWrapper form .row label{
 display: flex;
 align-items: flex-start;
}

.formWrapper form .row input, select{
 border: 0;
 outline: none;
 padding: 10px 7px;
 background: #f2f3f4;
 border-radius: 6px;
}

.formWrapper form .row label{
  margin: 0;
}

.adminEditProductWrapper .uploadBox .formWrapper form .row input::placeholder{
 font-size: 14px;
 color: #3f3f3f;
}

.formWrapper form .row select{
 font-size: 14px;
 color: #3f3f3f;
}

.formWrapper form .row .uploadContent{
 height: 170px;
 width: 100%;
 background: #f2f3f4;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 6px;
 cursor: pointer;
}

.formWrapper form .imgWrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

.formWrapper form .imgWrapper .dataImgBox{
 position: relative;
}

.formWrapper form .row .imgWrapper .dataImgBox img{
 width: 96px;
 height: 96px;
 cursor: pointer;
 object-fit: cover;
}

.formWrapper form .imgWrapper .dataImgBox svg{
 display: none;
 width: 26px;
 height: 26px;
 border-radius: 50%;
 color: #fff;
 background: #f78f00;
 padding: 3px;
 opacity: 0.8;
 position: absolute;
 bottom: 4px;
 right: 0;
 cursor: pointer;
}

.formWrapper form .imgWrapper .dataImgBox svg:hover{
 background-color: #dc8103;
}

.formWrapper form .imgWrapper .dataImgBox:hover svg{
 display: block;
 visibility: visible;
}
 
.formWrapper form .row .uploadContent input{
 display: none;
}

.uploadProductWrapper .uploadBox .formWrapper .message{
 color: #f78f00;
 font-size: 15px;
}

.formWrapper form .row .uploadContent .cloud_box{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 8px;
 color: #3f3f3f;
}

.formWrapper form .row .uploadContent .cloud_box svg{
 width: 70px;
 height: 70px;
 color: #27ae60;
}

.adminEditProductWrapper .uploadBox .formWrapper form .row textarea{
 background: #f2f3f4;
 padding: 5px;
 resize: none;
 height: 100px;
 outline: none;
 border: none;
 border-radius: 6px;
}

.adminEditProductWrapper .uploadBox .formWrapper form .row textarea::placeholder{
 color: #3f3f3f;
 font-size: 14px;
}

.adminEditProductWrapper .uploadBox .formWrapper form .updateBtn{
 width: 99%;
 padding: 8px;
 font-size: 15px;
 border-radius: 8px;
 border: none;
 background: #27ae60;
 color: #fff;
}

.adminEditProductWrapper .displayImgWrapper .displayImg img {
  width: 360px !important; 
  height: 360px !important; 
}

@media only screen and (max-width: 930px) {
  .adminEditProductWrapper{
      visibility: hidden;
      display: none;
  }
  
  .adminEditProductWrapper .uploadBox{
       visibility: hidden;
       display: none;
  }
}