.footerWrapper{
  margin-top: 10px;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  margin-top: 10px;
}

.footerWrapper .container{
  color: #d7dbdd ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
}

.footerWrapper .container .titleBox h2{
  font-weight: 600;
  font-size: 25px;
  color: #f78f00;
}
.footerWrapper .container .linksBox nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.footerWrapper .container .linksBox nav ul li{
  list-style: none;
  cursor: pointer;
}

.footerWrapper .container .linksBox nav ul li:hover{
  color: #27ae60;
}

.footerWrapper .container .iconsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footerWrapper .container .iconsBox svg{
  font-size: 20px;
  cursor: pointer;
}

.footerWrapper .container .iconsBox svg:hover{
  color: #27ae60;
}

.footerWrapper .container .aboutRight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footerWrapper .container .aboutRight avg{
  font-size: 19px;
}

@media only screen and (min-width: 620px) and (max-width: 830px) {
  .footerWrapper .container .linksBox nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 619px) {
  .footerWrapper .container .linksBox nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footerWrapper{
    height: 190px;
  }
}