.displayProductWrapper .container .wrapper{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  height: 84.5vh;
  overflow-x: scroll;
}

.displayProductWrapper .container .wrapper .productCart{
  width: 240px;
  height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #e1e1e2;
  border-radius: 10px;
}

.wrapper .productCart .imageBox{
  width: 240px;
  height: 150px;
  padding: 8px;
  border-radius: 8px;
}

.wrapper .productCart .imageBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.wrapper .productCart .imageBox img:hover{
   transform: scale(1.05);
}

.wrapper .productCart .aboutProductCart{
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  border-top: 2px solid #2c3e50;
}

.wrapper .productCart .aboutProductCart .productName{
  color: #f48f04;
  font-size: 16.5px;
  font-weight: 500;
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis;    
  max-width: 200px; 
}

.wrapper .productCart .aboutProductCart .brandName{
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis;    
  max-width: 200px; 
}

.wrapper .productCart .aboutProductCart .priceBox{
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 12px;
}

.wrapper .productCart .aboutProductCart .priceBox .productPrice{
  color: #27ae60;
}

.wrapper .productCart .aboutProductCart .priceBox .prevPrice{
  color: #454545;
  text-decoration: line-through;
}

.wrapper .productCart .aboutProductCart .iconsBox{
  display: flex;
  align-items: center;
  gap: 12px;
}

.wrapper .productCart .aboutProductCart .iconsBox svg{
  font-size: 20px;
}

.wrapper .productCart .aboutProductCart .iconsBox .basket_{
  color: #2c3e50;
}

.wrapper .productCart .aboutProductCart .iconsBox .basket_:hover{
  color: #3e5772
}

.wrapper .productCart .aboutProductCart .iconsBox .favorite_{
  color: #cb4335;
  font-size: 21px;
}

.wrapper .productCart .aboutProductCart .iconsBox .favorite_:hover{
  color: #e74c3c;
}

.container .wrapper .loadingCart{
  padding-top: 6px;
  border: 1px solid #ededee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .container .wrapper .loadingCart .loadingCartLeft{
  background: #ededed;
  width: 200px;
  height: 150px;
  animation: pulse 1.5s infinite;
}

.container .wrapper .loadingCart .loadingCartRight{
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.wrapper .loadingCart .loadingCartRight .titleBox{
  width: 200px;
  height: 26px;
  background: #ededed;
  border-radius: 12px;
  animation: pulse 1.5s infinite;
}

.wrapper .loadingCart .loadingCartRight .pricesBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wrapper .loadingCart .loadingCartRight .pricesBox p{
  width: 200px;
  height: 26px;
  background: #ededed;
  border-radius: 12px;
  animation: pulse 1.5s infinite;
}
 
